@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    font-family: 'Open Sans', sans-serif;
    background-color: #1CD1B0;
    padding-left: 30px;
}
.Banner{
    display: flex;
    background-color: #00669F;
}
.Shop_icon{
height: 60px;
padding: 5px 10px;
}
.Logo{
    font-family: 'Open Sans', sans-serif;
    display: flex;
align-items: center;
font-size: 1.5rem;
color: white;
}
.Under_banner{
    background-color: #001D2D;
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    justify-content: flex-end;
    align-items: center;
}
.Under_banner a{
    text-decoration: none;
    padding: 0 8px;
    color: white;
}
.Container{
    display: flex;
    flex-direction: column;
    background-color: #00669F;
    border-radius: 12px;
    height: fit-content;
    width: 600px;
    margin-top: 50px;
    align-items: center ;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}
main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 30px;
}
.row{
 display: flex;
}
.column{
 display: flex;
 flex-direction: column;
 padding: 10px;
 gap: 10px;
}
.bar_style{
    border: none;
    background-color: rgb(59, 59, 59);
    width: 245px;
    padding: 10px;
    border-radius: 12px;
    transition: .5s;
    color: white;
}
textarea{
    margin-left: -88px;
    border-radius: 14px;
    background-color: rgb(59, 59, 59);
    border: none;
    transition: .5s;
}
.bar_style:hover, textarea:hover{
    background-color: rgb(32, 32, 32);
}
.Botao{
    background-color: #001D2D;
    color: white;
    margin-top: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
}
footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #00669F;
    color: white;
}
label{
    color: white;
}